<div class="container">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Filtrar por Nome</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Pagamento..."
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="pagamentos" matSort>
        <ng-container matColumnDef="idProduto">
          <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header>
            #ID
          </th>
          <td class="id" mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <ng-container matColumnDef="nmProduto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nome do Produto
          </th>
          <td mat-cell *matCellDef="let row">{{ row.nomeDoProduto }}</td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</th>
          <td mat-cell *matCellDef="let row">{{ row.quantidade }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let row">R$ {{ row.valor }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th class="qtd" mat-header-cell *matHeaderCellDef mat-sort-header>
            Total
          </th>
          <td class="qtd" mat-cell *matCellDef="let row">R$ {{ row.total }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr matColumnDef="loading">
          <td *matFooterCellDef colspan="2">Carregando Dados...</td>
        </tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: pagamentos != null }"
        ></mat-footer-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            Nenhum produto encontrado com o nome "2"
          </td>
        </tr>
      </table>

      <mat-paginator
        [length]="resultsLength"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]"
        showFirstLastButtons
        aria-label="Selecionar página de produtos no estoque"
      >
      </mat-paginator>
    </div>
  </div>
</div>
