<div class="container">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Filtrar por Nome</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Pagamento..."
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="arrayPagamento" matSort>
        <ng-container matColumnDef="idVendaPagamento">
          <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header>
            #ID
          </th>
          <td class="id" mat-cell *matCellDef="let row">{{ row.idVendaPagamento }}</td>
        </ng-container>


        <ng-container matColumnDef="dtPagamento">
          <th class="qtd" mat-header-cell *matHeaderCellDef mat-sort-header>
            Data Pagamento
          </th>
          <td class="qtd" mat-cell *matCellDef="let row"> {{ row.dtPagamento }}</td>
        </ng-container>


        <ng-container matColumnDef="vlPagamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let row">R$ {{ row.vlPagamento }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status de pagamento</th>
          <td mat-cell *matCellDef="let row">aprovado</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr matColumnDef="loading">
          <td *matFooterCellDef colspan="2">Carregando Dados...</td>
        </tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: pagamentos != null }"
        ></mat-footer-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            Nenhum pagamento Aprovado encontrado.
          </td>
        </tr>
      </table>

      <mat-paginator
        [length]="arrayPagamento.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]"
        (page)="getPage($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
