.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container div {
  min-width: 980px;
  width: 80%;
}

.container div div,
table {
  width: 100%;
}


.hide {
  display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.id,
.qtd {
  width: 10%;
}

.icon {
  text-align: center;
}